/******BASESTYLES*****/
#container {
  width: 1400px;
  margin: 0 30px;
  background: black;
}

@font-face {
  font-family: Milkshake;
  src: url('../fonts/Milkshake/Milkshake.otf') format('opentype');
}

h1 {
  font-family: Milkshake;
  color: #0ddadf;
}

.full-width {
  width: 1400px;
}

.half-width {
  width: 650px;
  float: left;
}

.third-width {
  width: 435px;
  float: left;
}


/*****HEADER-LINKS******/
#starters {
  width: 1400px;
}

h1 {
  padding: 35px;
  font-size: 35px;
}

nav {
  float: right;
  padding: 50px 25px;
}

 nav ul li {
   display: inline-block;
 }

 nav ul li a {
   font-family: font-family: 'Varela Round', sans-serif;
   font-weight: bold;
   color: #c6e0ed;
   text-decoration: none;
   font-size: 25px;
   padding-left: 60px;
 }

/******IMAGE & WELCOME LINE******/
#welcome {
  width: 1400px;
  height: 575px;
  background: url('../img/chris-ried-512801-unsplash-V2.png');
  background-size: cover;
  clear: both;
}

h2, #howdy {
  font-family: font-family: 'Varela Round', sans-serif;
  font-size: 60px;
  color: #c6e0ed;
  padding-top: 130px;
  padding-left: 35px;
}

span {
  color: #ff007a;
  font-variant:small-caps;
  font-style: italic;
  letter-spacing: 2px;
}

/*******PORTFOLIO SECTION*****/
#work {
    width: 1400px;
    height: 1300px;
}


h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 29px;
    color: #ff007a;
    text-align: center;
    padding: 25px;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-style: italic;
    color: #ff007a;
    line-height: 22px
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #ff8e0a;
}

#proj-one {
    padding: 20px 0;
    clear: both;
}
#proj-1pic {
    padding-left: 45px;
}

#proj-1txt {
    padding: 55px 30px 76px 20px;
}


#proj-two {
    padding: 20px 0;
    clear: both;
}

#proj-2txt {
    padding: 60px 30px 72px 20px;
}

#proj-2pic {
    padding-right: 30px;
    
}

#proj-three {
    padding: 20px 0;
    clear:both;
}

#proj-3pic {
    padding: 20px 5px 20px 30px;
}

#proj-3txt {
    padding: 50px 30px 10px 20px;
}

/******ABOUT SECTION*****/

#about {
    width: 1400px;
    height: 550px;
}

#about-title {
    text-align: center;
}

#about-info {
    clear: both;
}

#about-txt {
    padding: 10px 2px 5px 25px;
}


#about-pic {
    padding: 40px 5px 10px 65px;
}

/******CONTACT SECTION******/
#contact {
    width: 1400px;
    height: 350px;
}

#cont-ttl {
    text-align: center;
}

#cont-info {
    clear: both;
}

#hire {
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

#hire a {
    text-decoration: none;
    color: #ff8e0a;
}

#follow {
    text-align: center;
    padding: 15px 15px;
}

#follow ul {
    list-style: none;
}

#follow ul li {
    display: inline-block;
}

#follow ul img {
    padding-right: 48px;
}

#connect {
    text-align: center;
    padding: 15px 15px;
}


/******FOOTER SECTION*****/
#foot-top {
    border-top: 5px solid #0ddadf;
}

h6 {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #0ddadf;
    text-align: center;
}

h6 a {
    color: #ff8e0a;
    text-decoration: none;
}