/*****BASESTYLES*****/

.container {
    width: 1400px;
    margin: 50px;
    background: black;
}

.full-width {
    width: 1400px;
}

.half-width {
    width: 700px;
    float: left;
}

.third-width {
    width: 435px;
    height: auto;
    float: left;
}

/******HEADER-LINKS******/
#hdr-blk {
    width: 1400px;
    height: 50px;
    clear: both;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    color: #f8fc71;
}

nav {
  float: right;
  padding: 3px 25px;
}

 nav ul li {
   display: inline-block;
 }

 nav ul li a {
   font-family: 'Varela Round', sans-serif;
   font-weight: bold;
   color: #f4c5d9;
   text-decoration: none;
   font-size: 30px;
   padding-left: 45px;
 }

/*******PICTURE-NAME******/

#pic-spot {
    width: 1400px;
    height: 1000px;
    background: url('../img/max-header2.png');
    background-size: cover;
    clear: both;
}


/*******DETAILS*******/
#about {
    clear: both;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    color: #f92839;
    text-align: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #9aabd4;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #f8fc71;
    text-indent: 20px;
}

#stats ul {
    text-indent: 10px;
}
li {
    font-family: 'Verela Round', sans-serif;
    font-size: 20px;
    color: #f8fc71;
}

#story {
    padding: 0 35px 0 35px;
}
