/******BASESTYLES*****/
html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@font-face {
  font-family: Milkshake;
  src: url('../fonts/Milkshake/Milkshake.otf') format('opentype');
}

/*********Header**********/
header, footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}
.starters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

.hello a {
    text-decoration: none;
    color: #0ddadf;
}
h1 {
    font-family: Milkshake, sans-serif;
    font-size: 2.1875em;
    border-bottom: 3px solid #0ddadf;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    width: 100%;
}

header nav ul {
    margin: 0;
    padding: 0;
}

nav ul li a {
   font-family: 'Varela Round', sans-serif;
   font-weight: bold;
   color: #c6e0ed;
   list-style: none;
   font-size: 1.5625em;
   padding: 10px 0;
 }

/******IMAGE & WELCOME LINE******/
.hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: url('../img/work-header.png') center no-repeat;
    background-size: cover;
    min-height: 496px;
    width: 100%;
    margin: 0;
}

.welcome {
    width: 75%;
    margin: 50px 0;
}

.hero-area, .welcome, h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    color: #c6e0ed;
    margin: 0;
    padding: 55px 0 0 0;
}

.welcome, span {
    color: #ff007a;
    font-variant:small-caps;
    font-style: italic;
    letter-spacing: .125em;
}

/*******PORTFOLIO SECTION*****/
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
    margin: 0;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

.work-title, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%
}

/******mobile-tablet single rows - desktop 2 per row*******/
.unplugged, .jubilee, .rougue-pkgs, .holstee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    border-top: 3px solid #ff007a;
    margin: 10px 0;
    padding-top: 20px;
}

.work-title h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8125em;
    color: #ff007a;
    text-align: center;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5625em;
    font-style: italic;
    color: #ff007a;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    color: #ff8e0a;
    width: 90%;
    padding: 5px;
}

/********Footer********/
footer {
    border-top: 3px solid #ff007a;
}

footer h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    line-height: 1.75em;
    color: #0ddadf;
    font-style: normal;
    margin: 0;
    padding: 0 25px;
}
footer, a {
    color: #ff007a;
    text-decoration: none;
    font-style: normal;
}

/********Media Queries********/

/*****Tablet*****/
@media screen and (min-width: 768px){
    .portfolio h4 {
        padding: 0 200px;
    } 
    .hero-area, .welcome, h2 {
        font-size: 2.35em;
        padding-left: 10px;
    }
    footer h5 {
        padding: 0 3px;
    }
}


/******Desktop*****/
@media screen and (min-width: 1200px) {
    .container {
        margin: 10px auto;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-flow: row wrap;
    }
    header .starters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin: 0;
        width: 100%;
    }
    .hello, .direction {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    header h1 {
        border-bottom: none;
        text-align: left;
        margin: 0;
        padding: 30px 0 0 20px;
        
    }
    header nav {
        display: flex;
        justify-content: space-between;
        padding-left: 700px;
    }
    header nav ul li {
        display: inline-block;
        text-align: right;
        padding: 30px 15px 0 0;
    }
    .unplugged, .jubilee, .rougue-pkgs, .holstee {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    flex-basis: 50%;
    border: none;
    margin: 0;
    padding-top: 30px;
}
    .portfolio img {
        min-height: 350px;
    }
    .portfolio h4 {
        padding: 0;
    }
    .portfolio p {
        width: 75%;
        padding: 0
    }
}

